body{
  background-color: #2d5b86; /*  #004d99 #004080 #2d5b86 003366 */
  background-image: url("wall.JPG");
  background-position: 0px 1000px;
  background-size: 100% auto;
}

#Beach{
  /*margin-top: 50px;*/
  min-height: 600px;
  height: 900px;
  position: relative;
  /*background: url("wall.jpg") center center;*/
  width: 100%;
  height: 100%;
  /*background-size: cover;*/
  overflow: hidden;
}
#name{
  color: white;
  text-align: center;
  font-family: Century Gothic, sans-serif;
  font-size: 60px;
  margin-top: 150px;
}
#job{
  color: white;
  text-align: center;
  font-family: Century Gothic, sans-serif;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  font-size: 42px;
}

#Name{
  /* change to em? */
  margin-top: 70px;
}
#Name h1{
  color: white;
  text-align: center;
  /* font-family: 'Arial'; */
  font-family: Century Gothic, sans-serif;
  /* font-family: 'Century Gothic'; */
  font-size: 48px;
}

#Experience{
  text-align: center;
}
#Experience h3{
  margin-left: 0px;
  font-size: 36px;
  color: white;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}
#Experience h4{
  margin-left: 0px;
  color: white;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}
#Experience p{
  margin-left: 10px;
  color: white;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

#Resume{
  margin-bottom: 50px;
  text-align:center;
}
#Resume h3{
  font-size: 36px;
  color: white;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}
#Resume p{
  margin-left: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  color: white;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

#Contact{
  text-align:center;
}
#Contact h3{
  font-size: 36px;
  color: black;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}
#Contact p{
  color: black;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

img { /* resize with browser */
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

h2{
  /* text-align: justify; */
  color: white;
  text-align: center;
  font-family: 'Arial';
  /* font-family: 'Century Gothic'; */
  font-size: 24px;
}
/*.jumbotron{
  text-align:center;
}
.jumbotron h2{
  color: black;
}*/
#LinkedIn{
  text-align: left;
  color: white;
  font-family: 'Arial';
  font-size: 18px;
  display:inline-block;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:20px;
}
#LinkedIn img{
   margin:6px 0 10px 0;
}
#github{
  text-align: left;
  color: white;
  font-family: 'Arial';
  font-size: 18px;
  display:inline-block;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:20px;
}
#github img{
   margin:6px 0 10px 0;
}
#footer{
   position:absolute;
   bottom:0;
   margin-left:10px;
}
